body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px;
}

/*.button-container {
    text-align: center;
    float: left;
    margin: 10px;
}

.button-container span {
    display: block;
    font-weight: bold;
}

.button-container img {
    display: inline;
}*/